
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

# Temp files
temp/
*.bak

# Build and runtime data
build/
library/

# Local settings file
local/

# Cache
*.log
settings/
.vscode/
*.DS_Store

# Cocos temporary files and build artifacts
**/Thumbs.db
**/.meta
**/*.csb
**/*.lst
**/*.atlas

# Binary files
*.db
*.db-wal
*.db-shm

# Backup
*.bak

# Auto generated
*.jsc
*.cbb
